In [1]:
strategies=['Rock','Paper','Scissors','Lizard','Spock']

In [2]:
payoff={('Rock','Paper'):(0,1),
        ('Paper','Rock'):(1,0),
        ('Rock','Scissors'):(1,0),
        ('Scissors','Rock'):(0,1),
        ('Paper','Scissors'):(0,1),
        ('Scissors','Paper'):(1,0),
        ('Rock','Rock'):(0,0),
        ('Paper','Paper'):(0,0),
        ('Scissors','Scissors'):(0,0),
        ('Rock','Lizard'):(1,0),
        ('Lizard','Rock'):(0,1),
        ('Lizard','Spock'):(1,0),
        ('Spock','Lizard'):(0,1),
        ('Spock','Scissors'):(1,0),
        ('Scissors','Spock'):(0,1),
        ('Scissors','Lizard'):(1,0),
        ('Lizard','Scissors'):(0,1),
        ('Lizard','Paper'):(1,0),
        ('Paper','Lizard'):(0,1),
        ('Paper','Spock'):(1,0),
        ('Spock','Paper'):(0,1),
        ('Spock','Rock'):(1,0),
        ('Rock','Spock'):(0,1),
        ('Lizard','Lizard'):(0,0),
        ('Spock','Spock'):(0,0)
       }

In [3]:
Players=[{'name':'John','score':0,'strategy':None},
         {'name':'Mary','score':0,'strategy':None}]

In [4]:
from random import choice

#simples: choose randomly
choice(strategies)

'Spock'

In [5]:
Players[0]['strategy']=choice(strategies)
Players[1]['strategy']=choice(strategies)

In [6]:
# current decision
Players[0]['strategy'],Players[1]['strategy']

('Paper', 'Scissors')

In [7]:
# social result of individual decision
result = payoff[Players[0]['strategy'],Players[1]['strategy']]
result

(0, 1)

In [8]:
# update agents situation
Players[0]['score']+=result[0]
Players[1]['score']+=result[1]

In [9]:
# current agent situation
Players[0], Players[1]

({'name': 'John', 'score': 0, 'strategy': 'Paper'},
 {'name': 'Mary', 'score': 1, 'strategy': 'Scissors'})

In [10]:
import pandas as pd 

socialResults=pd.DataFrame((Players[0], Players[1]))
socialResults

   name  score  strategy
0  John      0     Paper
1  Mary      1  Scissors

In [11]:
filter1=socialResults.score==socialResults.score.max()
winner=socialResults[filter1]

#social outcome
winner

   name  score  strategy
1  Mary      1  Scissors

In [12]:
# names of players
names=['Jim','Jane','Peter','Zoe','Paul','Brigitte','Alex','Chris','Tom']

In [13]:
# list of players
society=[{'name':n,'score':0,'strategy':None} for n in names]

In [14]:
# each player a dict:
society

[{'name': 'Jim', 'score': 0, 'strategy': None},
 {'name': 'Jane', 'score': 0, 'strategy': None},
 {'name': 'Peter', 'score': 0, 'strategy': None},
 {'name': 'Zoe', 'score': 0, 'strategy': None},
 {'name': 'Paul', 'score': 0, 'strategy': None},
 {'name': 'Brigitte', 'score': 0, 'strategy': None},
 {'name': 'Alex', 'score': 0, 'strategy': None},
 {'name': 'Chris', 'score': 0, 'strategy': None},
 {'name': 'Tom', 'score': 0, 'strategy': None}]

In [15]:
import itertools 
for pair in itertools.combinations(society,2):
    print(pair)

({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Jane', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Paul', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Brigitte', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Alex', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Chris', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Paul', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Brigitte', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Alex', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Chris', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Paul', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Brigitte', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Alex', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Chris', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Paul', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Brigitte', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Alex', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Chris', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Paul', 'score': 0, 'strategy': None}, {'name': 'Brigitte', 'score': 0, 'strategy': None})
({'name': 'Paul', 'score': 0, 'strategy': None}, {'name': 'Alex', 'score': 0, 'strategy': None})
({'name': 'Paul', 'score': 0, 'strategy': None}, {'name': 'Chris', 'score': 0, 'strategy': None})
({'name': 'Paul', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Brigitte', 'score': 0, 'strategy': None}, {'name': 'Alex', 'score': 0, 'strategy': None})
({'name': 'Brigitte', 'score': 0, 'strategy': None}, {'name': 'Chris', 'score': 0, 'strategy': None})
({'name': 'Brigitte', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Alex', 'score': 0, 'strategy': None}, {'name': 'Chris', 'score': 0, 'strategy': None})
({'name': 'Alex', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})

In [16]:
print(result)

(0, 1)

In [17]:
import itertools 
for player1,player2 in itertools.combinations(society,2):
    print(player1,player2)

{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Jane', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Paul', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Brigitte', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Paul', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Brigitte', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Paul', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Brigitte', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Paul', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Brigitte', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Paul', 'score': 0, 'strategy': None} {'name': 'Brigitte', 'score': 0, 'strategy': None}
{'name': 'Paul', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Paul', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Paul', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Brigitte', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Brigitte', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Brigitte', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Alex', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Alex', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Chris', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}

In [18]:
# chose each pair of players:

# list of players
society=[{'name':n,'score':0,'strategy':None} for n in names]


player1,player2=(society,2)


for player1,player2 in itertools.combinations(society,2):
    
    player1['strategy']=choice(strategies)
    player2['strategy']=choice(strategies)
    result=payoff[player1['strategy'],player2['strategy']]
    player1['score']+=result[0]
    player2['score']+=result[1]

In [19]:
society

[{'name': 'Jim', 'score': 4, 'strategy': 'Rock'},
 {'name': 'Jane', 'score': 2, 'strategy': 'Paper'},
 {'name': 'Peter', 'score': 4, 'strategy': 'Spock'},
 {'name': 'Zoe', 'score': 5, 'strategy': 'Spock'},
 {'name': 'Paul', 'score': 4, 'strategy': 'Paper'},
 {'name': 'Brigitte', 'score': 2, 'strategy': 'Spock'},
 {'name': 'Alex', 'score': 5, 'strategy': 'Paper'},
 {'name': 'Chris', 'score': 1, 'strategy': 'Lizard'},
 {'name': 'Tom', 'score': 3, 'strategy': 'Lizard'}]

In [20]:
socialResults=pd.DataFrame(society)
socialResults

       name  score strategy
0       Jim      4     Rock
1      Jane      2    Paper
2     Peter      4    Spock
3       Zoe      5    Spock
4      Paul      4    Paper
5  Brigitte      2    Spock
6      Alex      5    Paper
7     Chris      1   Lizard
8       Tom      3   Lizard

In [21]:
filter1=socialResults.score==socialResults.score.max()
winner=socialResults[filter1]

#social outcome
winner

   name  score strategy
3   Zoe      5    Spock
6  Alex      5    Paper

In [22]:
filter2=socialResults.score==socialResults.score.min()
loser=socialResults[filter2]

#social outcome
loser

    name  score strategy
7  Chris      1   Lizard